@font-face{

    font-family: Roboto;
    src: url("../fontes/Roboto/Roboto-Regular.ttf");
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
    

}

body{

    overflow-x: hidden;
}


body {

    
}


header{

    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

header #cd{

    color: #D6000D;
    margin-left: 30vh;
}
header h1 span{

    color: #000000;
}


header #menu {

    display: grid;
    gap:0 0;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    position: relative;
}



header #menu #menuLinks{

    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(4,1fr);
    gap: 0 4vh;
    position: relative;
    left: 50vh;

}

header #menu a {

    text-decoration: none;
    color: #000000;
   
}

header #menu #menuLinks #login{

    background-color: #D6000D;
    padding: 0.5vw;
    width: 8vw;
    border-radius: 7px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;

}

#videoCallImg{

    width: 38%;
    position: relative;
    top: 16vh;
    left: 36vh;
}

#pAlavanque{

    position: relative;
    left: 140vh;
    top: -40vh;
}


#pWebsite{

    position: relative;
    left: 140vh;
    color: #D6000D;
    top: -38vh;
    font-size: 11vh;
    font-weight: bold;

}

#pSolicitar{

    position: relative;
    left: 140vh;
    top: -30vh;
    color: #ffffff;
    background-color: #D6000D;
    width: 22vw;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    padding: 0.8vw;
    border-radius: 10px;
}

#segunda-parte-site{

    position: relative;
    top:50vh;
    display: grid;
    grid-template-columns: repeat(2,fr);
    grid-auto-flow: column;

}


.fa-check-circle{

    color: #D6000D;
    
}


.img-textos-segunda-parte-site{

    position: relative;
    left: 40vh;
    width: 4%;
}


.textos-segunda-parte-site{

    position: relative;
    left: 45vh;
    font-size: 2.7vh;
    
}


#segunda-parte-site #textos-segunda-parte-site #imgAsset1{

    position: relative;
    
}


#segunda-parte-site #textos-segunda-parte-site #pDominio{

    position: relative;
    top: -3vh;
    
}


#segunda-parte-site #textos-segunda-parte-site #imgAsset2{

    position: relative;
    top: -1vh;  
}

#segunda-parte-site #textos-segunda-parte-site #pHospedagem{

    position: relative;
    top: -4vh;
    
}


#segunda-parte-site #textos-segunda-parte-site #imgAsset3{

    position: relative;
    top: -2vh;  
}

#segunda-parte-site #textos-segunda-parte-site #pSite{

    position: relative;
    top: -5vh;
    
}

#segunda-parte-site #textos-segunda-parte-site #imgAsset4{

    position: relative;
    top: -3vh;  
}

#segunda-parte-site #textos-segunda-parte-site #pRedes{

    position: relative;
    top: -6vh;    
}

#segunda-parte-site #textos-segunda-parte-site #imgAsset5{

    position: relative;
    top: -4vh;  
}

#segunda-parte-site #textos-segunda-parte-site #pChat{

    position: relative;
    top: -7vh;
    
}

#segunda-parte-site #textos-segunda-parte-site #imgAsset6{

    position: relative;
    top: -5vh;  
}

#segunda-parte-site #textos-segunda-parte-site #pBlog{

    position: relative;
    top: -8vh;
    
}


#segunda-parte-site #img-segunda-parte-site{


}


#segunda-parte-site #img-segunda-parte-site #imgCoding{

    width: 40%;
    position: relative;
    top: -24vh;
    left: 85vh;
}

#pH4{

    position: relative;
    top: 28vh;
    left: 40vh;

}

input[type="text"]{

    position: relative;
    top: 29vh;
    left: 40vh;
    background-color: #dddddd;
    width: 12%;
    border: none;
    padding: 10px;
    border-radius: 7px;

}


#btn-ligamos{

    
    position: relative;
    top: 29vh;
    left: 41vh;
    border:none;
    background-color: #D6000D;
    color: #ffffff;
    padding: 10px;
    width: 12%;
    border-radius: 7px;
    font-weight: bold;
}

#rectangulos-site{

    display: grid;
    grid-template-columns: repeat(2,fr);
    grid-auto-flow: column;

}

.rectangulo-site{

    position: relative;
    top: 60vh;
    background-color: #dddddd;
    width: 52%;
    height: 22vh;
    left: 30vh;
    border-radius: 10px;
   
}

.circle{

    border-radius:50%;
    width: 11vh;
    height: 11vh;
    background-color: #D6000D;
    position: relative;
    left: 4vh;
    margin-top:3vh;   
}

#pExperiencia{

    position: relative;
    top: -10vh;
    left: 17vh;
    font-size: 2vh;
}

#pPedro{

    position: relative;
    top: -8vh;
    left: 17vh;
}

#pConst{

    position: relative;
    top: -8vh;
    left: 17vh;
    font-size: 1.9vh;
    font-weight: bold;

}

footer{

    position: relative;
    top: 70vh;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 22vh;
    padding-top: 7vh;
    padding-left: 7vh;
    font-weight: bold;
   /* padding-right: 5vh;*/
}

.footer-linhas{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: column;
}


#div-segunda-linha p{

   b
}

footer #pCd{

    font-size: 2vw;
    position: relative;
    top: -1vh;
}

.fa-facebook-square{

    margin-left: 2vh;
}

.fa-facebook-square, .fa-instagram,.fa-twitter-square{

    color: #D6000D;
    padding-right: 2vh;
    font-size: 4vh;
}
